* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;

  // scrollbar //
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
    opacity: 0.4;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: transparent;
    opacity: 0.4;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    opacity: 0;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }
}

.App {
  min-width: 200px;
  height: 280px;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: #201c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

// logo styling //

.logo {
  display: flex;
  align-items: center;
  .logo-container {
    background: red;
    padding: 2px;
    border-radius: 4px;
    svg {
      height: 16px;
      width: 20px;

      path {
        fill: #fff;
      }
    }
  }
  p {
    margin: 0;
    font-weight: 900;
    font-size: 10px;
    line-height: 16px;
    margin-left: 4px;
  }
}

.youtube-tabs-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 10px;
  .list-tabs {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: 60px 60px;
    grid-gap: 10px 10px;
    overflow-y: auto;
  }
}

.tablist-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: fadeInOpactiyAnimationMini 0.7s ease-in-out;
  animation-fill-mode: backwards;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  img {
    height: 60px;
    width: 80px;
  }
  &:hover {
    opacity: 1;
  }
}

.player-container {
  height: 100%;
  padding: 0 10px;

  .player-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
    position: relative;
    z-index: 1;

    .controls {
      display: flex;
      align-items: center;
      .player-icon {
        &:not(:last-child) {
          margin-right: 15px;
        }
        &.settings {
          margin-top: 1px;
          margin-right: 15px;
          svg {
            height: 16px;
            width: 16px;
          }
        }
      }
    }
  }

  .player-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation: fadeInOpactiyAnimation 0.7s ease-in-out;
    animation-fill-mode: forwards;
  }

  .video-thumbnail {
    display: block;
    border-radius: 2px;
    height: 60px;
    max-width: 120px;
    margin-top: 20px;
    z-index: 20;
  }

  .video-title {
    margin: 20px 0;
    margin-bottom: 0px;
    z-index: 20;
  }

  .video-channel-title {
    z-index: 20;
    width: 100%;
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    opacity: 0.7;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .timer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    .timer-number {
      width: 40px;
      text-align: center;
    }
  }

  .video-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;
    z-index: 20;
    width: 100%;
  }

  .player-ui-toggle {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 7px;
    position: relative;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;
    &.hide {
      opacity: 0;
      pointer-events: none;
    }
    .player-ui-toggle-icons {
      all: unset;
      cursor: pointer;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      svg {
        transform: scale(0.9);
      }
      &:hover {
        background: rgba(0, 0, 0, 0.4);
        transform: scale(1) !important;
      }
    }
  }
}

// input type range //
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: #e6e6e6;
  height: 2px;
  margin: 0 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: rgba(#ffffff, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track,
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: #e6e6e6;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: rgba(#ffffff, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

// input type range //

// autoplay-tracks
.autoplay-container {
  height: 100%;
  background: #201c1c;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  padding-top: 20px;
  z-index: 21;
  .suggestions-header-container {
    display: flex;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 10px;
    left: 5px;
    p {
      margin-left: 10px;
      font-weight: bold;
      font-size: 14px;
      text-transform: capitalize;
    }
  }
  .suggestions-results {
    overflow-y: scroll;
    height: calc(100% - 20px);
    margin-top: 20px;
  }
}

// search-items-tracks
.search-view-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;

  .search-container {
    width: 100%;
    height: 26px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 4px;
    flex: 1;
    margin-left: 10px;
  }
}
.search-items-container {
  background: #201c1c;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100%);
  transform: translateX(0px);
  padding: 0 10px;
  z-index: 20;
  border-radius: 4px;

  input[type="text"] {
    all: unset;
    color: #fff;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    &:focus {
      border: 1px solid rgba(#008abf, 0.4);
      transition: 0.35s ease;
      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        // opacity: 0;
      }
      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        // opacity: 0;
      }
      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        // opacity: 0;
      }
    }
  }

  .results-container {
    margin-top: 10px;
    overflow: auto;
    height: 100%;
  }
}

.settings-container {
  background: #201c1c;
  position: absolute;
  top: 40px;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  z-index: 20;
  border-radius: 4px;
  overflow: hidden;
  .setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    p {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

// helpers //

.result-item {
  padding: 9px 0;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  text-align: start !important;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  &:first-child {
    margin-top: 0;
  }
  &.active,
  &:hover {
    opacity: 1;
  }
}

.ellipsis {
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
}

.volume-icon {
  position: relative;
}

.volume-container {
  position: fixed;
  width: 180px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: flex;
  align-items: center;
  left: 10px;
  // bottom: 16px;
  // height: 26px;
  bottom: 0px;
  height: 35px;
  .volume-slider {
    margin: 0 12px;
  }
}

.player-icon,
.ui-icon,
.volume-icon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:not(.ui-icon),
  &:not(.player-ui-toggle-icons) {
    svg {
      transition: all 0.3s ease-in-out;
      path {
        &:first-child {
          fill: #fff;
        }
      }
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &.repeat,
  &.search {
    svg {
      path {
        &:first-child {
          fill: transparent;
        }
        &:last-child {
          fill: #fff;
        }
      }
    }
    &.active {
      svg {
        path {
          &:last-child {
            fill: #87a76c;
          }
        }
      }
    }
  }
  &.search,
  &.tabs {
    svg {
      height: 20px;
      width: 20px;
      path {
        &:first-child {
          fill: #fff;
        }
        &:last-child {
          fill: transparent;
        }
      }
    }
  }
  &.tabs {
    margin-right: 8px;
    svg {
      height: 16px;
      width: 16px;
      path {
        fill: #fff !important;
      }
    }
  }
  &.back {
    all: unset;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.ui-icon {
  position: fixed;
  // padding-top: 5px;
  top: 10px;
  left: 0;
  display: block;
  // width: 100%;
  svg {
    transition: all 0.3s ease-in-out;
    path {
      &:last-child {
        fill: #fff;
      }
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

// toggle btn //

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggleLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggleLabel:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .toggleLabel {
  background: #bada55;
}

input:checked + .toggleLabel:after {
  left: 100%;
  transform: translateX(-100%);
}

.toggleLabel:active:after {
  width: 20px;
}

///

.loading-dots {
  text-align: center;
  width: 100%;
  padding: 0 0 10px 0;

  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #b7afaf;
    border-radius: 10px;
    display: inline-block;
    height: 7px;
    width: 7px;
    margin-right: 10px;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
      margin-right: 0;
    }
  }
}

// transition group animations //

// fade-up animation //
.fadeUp-animation-enter {
  transform: translateY(280px);
  opacity: 0;
}
.fadeUp-animation-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 350ms ease-in-out;
}
.fadeUp-animation-exit {
  opacity: 1;
  transform: translateY(0);
}
.fadeUp-animation-exit-active {
  opacity: 0;
  transform: translateY(280px);
  transition: all 350ms ease-in-out;
}

// fade-right animation //
.fadeRight-animation-enter {
  transform: translateX(200px);
  opacity: 0;
}
.fadeRight-animation-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 350ms ease-in-out;
}
.fadeRight-animation-exit {
  opacity: 1;
  transform: translateX(0);
}
.fadeRight-animation-exit-active {
  opacity: 0;
  transform: translateX(200px);
  transition: all 350ms ease-in-out;
}

// fade-down animation //
.heightDown-animation-enter {
  height: 0;
  opacity: 0;
}
.heightDown-animation-enter-active {
  height: 280px;
  opacity: 1;
  transition: all 350ms ease-in-out;
}
.heightDown-animation-exit {
  height: 280px;
  opacity: 1;
}
.heightDown-animation-exit-active {
  opacity: 1;
  height: 0;
  transition: all 350ms ease-in-out;
}

// opacity animation //
.opacity-animation-enter {
  opacity: 0;
}
.opacity-animation-enter-active {
  opacity: 1;
  transition: all 350ms ease-in-out;
}
.opacity-animation-exit {
  opacity: 1;
}
.opacity-animation-exit-active {
  opacity: 0;
  transition: all 350ms ease-in-out;
}

// width animation //
.width-animation-enter {
  width: 0;
}
.width-animation-enter-active {
  width: 186px;
  transition: all 350ms ease-in-out;
}
.width-animation-exit {
  width: 186px;
  .volume-slider {
    opacity: 1;
  }
}
.width-animation-exit-active {
  width: 0px;
  .volume-slider {
    opacity: 0;
    transition: all 100ms ease-in-out;
  }
  transition: all 350ms ease-in-out;
}

@keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}

.scroll-item {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  width: 180px;
  text-align: center;
  .scroll-item-span {
    position: relative;
    left: 0px;
    width: 100%;
    line-height: 10px;
    transform: translateX(0%);
    transition: left 0.25s ease;
  }
}

// No Video Loader //
.loader-container {
  .loader-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      opacity: 0.7;
      margin: 4px 0 0 0;
    }
    .new-tab-link {
      margin-top: 8px;
      opacity: 1;
      cursor: pointer;
    }
  }
  .loader3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px;
    text-align: left;
  }
  .loader3 span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgba(135, 211, 124, 1);
    -webkit-animation: loader3 1.5s linear infinite;
    animation: loader3 1.5s linear infinite;
  }
  .loader3 span:last-child {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
  }
  @keyframes loader3 {
    0% {
      transform: scale(0, 0);
      opacity: 0.8;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  @-webkit-keyframes loader3 {
    0% {
      -webkit-transform: scale(0, 0);
      opacity: 0.8;
    }
    100% {
      -webkit-transform: scale(1, 1);
      opacity: 0;
    }
  }
}

.image-vibrant {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 18;
  background: transparent;
  transition: all 0.3s ease-in-out;
  &--filter {
    background: rgba(31, 29, 29, 0.6);
    backdrop-filter: blur(20px);
  }
}

@keyframes fadeInOpactiyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpactiyAnimationMini {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
